version: "3.9"

services:
  djangoapp:
    container_name: djangoapp
    build: .
    command: sh django.sh
    environment:
      - PG_USER=postgres
      - PG_PASSWORD=postgres
      - PG_DB=postgres
      - PG_HOST=db
      - PG_PORT=5432
    depends_on:
      - db
    expose:
      - "8000"  

  db:
    container_name: db
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    expose:
      - "5432"   

  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - "80:80"  
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - djangoapp

volumes:
  pgdata:
